In [ ]:
Las estructuras de datos son:7
-Listas
-Tuplas
-Diccionarios
-Sets

LAs estructuras de datos son listas para organizar datos.

-Lists: Ordenadas, modificadas, permite duplicados
-Tuplas: Ordenadas, inmutables, permiten duplicados.
-Sets: No ordenados, sin duplicadps
-Diccionarips: pares clave: valor

Nota:
-Pilas (FILO: First In, Last Out)
-Cola (First in, first out (FIFO))
-Listas enlazadas (o doblemente enlazadas)

Las listas son parecidas a los arreglos.

Son colecciones ordenadas que podemos modificar y almacenan elementos de distintos tipos de datos.

In [ ]:
lista_compras = ["pan", "leche", "huevos"]

print(lista_compras)

['pan', 'leche', 'huevos']

In [ ]:
print(lista_compras[1])
print(lista_compras[1:3])

leche
['leche', 'huevos']

In [ ]:
#Agregar un elemento al final a una lista#
lista_compras.append("bolillo")

print(lista_compras)

['pan', 'leche', 'huevos', 'bolillo']

In [ ]:
#Insertar un elemento en cierta posicion#

lista_compras.insert(2, "queso")
print(lista_compras)

['pan', 'leche', 'queso', 'huevos', 'bolillo']

In [ ]:
# Para eliminar un elemento de una lista existe el remove y el pop

lista_compras.remove("queso")
print(lista_compras)

['pan', 'leche', 'huevos', 'bolillo']

In [ ]:
lista_compras.pop() # si no agregamos nada dentro del paréntesis, borra el último elemento
lista_compras.pop(1)
print(lista_compras)

['pan', 'queso']

In [ ]:
# Mostrar los elementos del arreglo por medio de un for

for elemento in lista_compras:
    print(elemento)

pan
leche
queso
huevos
bolillo

In [ ]:
# La función len() saca el tamanño de la lista

print(len(lista_compras))

for i in range(len(lista_compras)):
  print(f"{i + 1}")

5
1
2
3
4
5

In [ ]:
promedios = [34.5, 543.3, 353523.32, 23423523.4634543]
promedios.sort() #modiifica de manera escendente

print(promedios)

[34.5, 543.3, 353523.32, 23423523.4634543]

In [ ]:
# Encontrar el valor mayor y menor de una lista
print(max(promedios))
print(min(promedios))

23423523.4634543
34.5

In [1]:
#MATRICES CONLISTAS

calificaciones = [[100, 56, 96], [35, 76, 84]]

i = 1

for calif_i in calificaciones:
  print(f"Alumno: {i}")
  for calif_j in calif_i:
    print(f"Calificación: {calif_j}")

Alumno: 1
Calificación: 100
Calificación: 56
Calificación: 96
Alumno: 1
Calificación: 35
Calificación: 76
Calificación: 84

Tuplas

In [ ]:
# Las tuplas son colleciones ordenadas pero inmutables
# Se declaran con paréntesis

# Hagamos un programa que guarde las fechas de nacimiento

fechas = ("10/06/06", "20/12/03", "12/04/20")

# Para convertir una tupla a una lista:

fechas_lista = list(fechas)

# Ahora puedes usar los comandos básicos de una lista

In [3]:
#### SETS

# Los sets son elementos sin orden que NO permiten elementos duplicados

nombres = {"Diana", "Laura", "Dora", "Papu", "Fer"}

print(type(nombres))
print(nombres)

<class 'set'>
{'Diana', 'Papu', 'Dora', 'Laura', 'Fer'}

In [4]:
set_de_datos = {"Angel", 1, True, 12.4}

nombres.add("Jesús")
print(nombres)

{'Diana', 'Papu', 'Dora', 'Laura', 'Fer', 'Jesús'}

In [7]:
# Uniones e intersecciones con sets

matutino = {234324, 423635643, 346345, 54523, 1234, 543}
vespertino = {4234235, 52452, 524523, 5346345, 1234, 543}

total_matriculas = matutino.union(vespertino)
print(total_matriculas)

# También se puede usar | ## set = set | set

{52452, 4234235, 346345, 5346345, 524523, 1234, 234324, 54523, 423635643, 543}

In [10]:
# Interseccion

set_interseccion = matutino & vespertino
print(set_interseccion)

# Se puede usar &
# set 1 = set2 & set3

{1234, 543}

In [11]:
# Diferencia
print(matutino - vespertino)

# Se puede usar .difference

{346345, 54523, 234324, 423635643}

In [ ]:
##############################
#
# Remove y pop
# Pop puede eliminar un elemento de forma aleatoria
# Remove puede eliminar el que tu quieras
#

In [ ]:
# Eliminar todo el set

matutino.clear()
print(matutino)

**Diccionarios**

Los diccionarios son colecciones no ordenadas de pares clave:valor

In [16]:
alumno1 = {
    "nombre" : "Fernando",
    "edad" : "19",
    "carrera" : "LCC",
    "Semestre" : "1",
    "Promedio" : "94"
}

## Agregar al diccionario

alumno1["area_preferida"] = "IT"

print(alumno1)

{'nombre': 'Fernando', 'edad': '19', 'carrera': 'LCC', 'Semestre': '1', 'Promedio': '94', 'area_preferida': 'IT'}

In [20]:
for valor in alumno1:
  print(valor)
print("------------")

#items devuelve una vista de todos los pares clave del diccionario

for valor, valor1 in alumno1.items():
  print(f"{valor} : {valor1}")

nombre
edad
carrera
Semestre
Promedio
area_preferida
------------
nombre : Fernando
edad : 19
carrera : LCC
Semestre : 1
Promedio : 94
area_preferida : IT

In [22]:
# Se puede usar .clear()
# Con .get podemos obtener el valor de una clave.

print(alumno1.get("Promedio"))

94

In [24]:
# el método .values sirve para obtener los values del diccionario, también se puede usar en la interacción
alumno_v= alumno1.values()
print(type(alumno_v))
print(alumno_v)

<class 'dict_values'>
dict_values(['Fernando', '19', 'LCC', '1', '94', 'IT'])